sudo: required
language: cpp
notifications:
  email:
    on_success: change # default: change
    on_failure: always # default: always
compiler:
  - gcc
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - gcc-4.8
    - g++-4.8
    - clang
    - libgtest-dev
    - build-essential
    - cmake
    - htop
install: 
  - cmake .
  - make VERBOSE=1
script: 
  - ./unittest
